[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djoser = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
python-decouple = "*"
mysqlclient = "*"
djangorestframework-filters = "*"
django-filter = ">=23.1"
django-cors-headers = "*"
pytz = "*"

[dev-packages]

[requires]
python_version = "3.13"
